<h2><%= @task.title %></h2>
<b>Details: </b><%= @task.details %><br />
<b>Completed: </b><%= @task.completed %><br />
<%= link_to "Edit the task", edit_path %>
<%= link_to "See all tasks", root_path %>
